.navbar-expand-lg {
  font-size: 17px;
  padding-top: 0;
  padding-bottom: 0;
}
.dropdown-menu {
  background-color: rgb(240, 236, 230);
}

.nav-link {
  color: rgb(255, 255, 255);

}

.container-fluid{
  background-color: #5c5c5c;
}

.nav-link:hover {
  color: #ff821b;
}
.btn-buscar {
  background-color: #f36f03;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  width: 43px;
}

.btn-buscar:hover{
  background-color: #ff821b;
  color: white;
}
.me-2 {
  border-color: #e9ecef;
  border-radius: 30px;
  padding-right: 0;
  width: 123px;
}

.d-flex{
padding-bottom: 0;
}

.nav-item a{
  cursor: pointer;
}

.navbar-brand img{
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .container-fluid{
    padding-bottom: 15px;
    }

    .navbar-brand img{
      display: none;
    }
  
}
