.navbar-expand-lg {
    font-size: 20px;
    background-color: #ffffff;
    padding-top: 0;
    padding-bottom: 0;
  }
  .dropdown-menu {
    background-color: rgb(240, 236, 230);
  }
  
  .nav-link {
    color: rgb(243, 111, 3);
    font-weight: bold;
  }
  
  .btn-buscar {
    background-color: #f36f03;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 30px;
    width: 160px;
  }
  
  .btn-buscar:hover{
    background-color: #ff821b;
    color: white;
  }
  .me-2 {
    border-color: #e9ecef;
    border-radius: 30px;
  }
  
  .d-flex{
  padding-bottom: 0;
  }
  