* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  min-width: 600px;
  background-image: radial-gradient(
    circle,
    #ffa75e,
    #ffa653,
    #ffa446,
    #ffa438,
    #fea328,
    #fd9f1e,
    #fb9a12,
    #fa9600,
    #f98d00,
    #f78300,
    #f57900,
    #f36f03
  );
}

.container-md {
  max-width: 75%;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 50px;
  margin-top: 30px;
  padding-bottom: 35px;
}

.container-lg {
  max-width: 85%;
  border-radius: 50px;
  margin-top: 30px;
  padding-bottom: 35px;
}



/* EL TITULO DE LA PAGINA */
h1 {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 35px;
  text-shadow: 2px 3px 0px #454545;
  margin-top: 60px;
  padding-left: 7px;
  padding-right: 7px;
}

/* SECCIONES COMO DATOS PERSONALES, CONTACTO */
.seccion {
  border-radius: 30px;
  margin-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #ffffff;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.18);
}

.seccion-editar {
  border-radius: 30px;
  margin-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #ffffff;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.18);
}

/* SUBTITULOS DE SECCIONES */
h6 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 30px;
  color: #5c5c5c;
  font-weight: bold;
}

/* LABEL DE LOS INPUT */
label {
  padding-bottom: 5px;
  padding-top: 10px;
  cursor: pointer;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 16px;
}

.doc-editar{
  background-color: #4545452a;
  padding: 15px;
  border-radius: 30px;
}


/* INICIO RADIOS */
/* CLASE LABEL PARA LOS RADIO */
.label {
  margin-right: 15px;
}

.radioCentro {
  text-align: center;
}

/* ALINEACION VERTICAL DE LOS INPUT RADIO */
.radioInput,
.radio {
  display: inline-block;
}

.form-check-input[type="radio"] {
  margin-left: 15px;
}

/* CENTRADO HORIZONAL DE LOS RADIO */
.opciones {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
/* FIN RADIOS */

select {
  cursor: pointer;
}

/* VALIDACION DE RUT A REGISTRAR */
#valido p {
  padding-left: 9px;
  font-size: 15px;
  color: rgb(54, 176, 6);
}
#invalido p {
  padding-left: 9px;
  font-size: 15px;
  color: rgb(176, 6, 6);
}

p{
  margin-bottom: 0;
}
/* FIN VALIDACION DE RUT A REGISTRAR */

/* INICIO INPUTS TEXT, FILE Y SELECT */
input[type="text"],
[type="file"],
.form-select,
.form-control {
  border-color: #e9ecef;
  border-radius: 30px;
  border-width: 3px;
  color: #6e707e;
}

.input-group-text {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #e9ecef;
  border-color: #e9ecef;
  border-width: 3px;
}

/* COLOR DE TEXTO DE LOS FORM-CONTROL */
.form-control {
  color: #6e707e;
}
/* FIN INPUTS TEXT, FILE Y SELECT */

/* ESPACIO ENTRE FILAS DE INPUTS */

/* BOTON ENVIAR */
.boton {
  display: flex;
  justify-content: center;
}

.btn-enviar {
  background-color: #fff7ee;
  color: #f36f03;
  font-weight: bold;
  font-size: 20px;
  border-radius: 30px;
  width: 180px;
  height: 50px;
}

.btn-enviar:hover {
  background-color: #a1dc3c;
  color: white;
}
/* FIN BOTON ENVIAR */

/* INICIO BOTON ENVIAR FORMULARIO*/
.btn-limpiar {
  background-color: #f36f03;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
.btn-limpiar:hover {
  background-color: #ff821b;
  color: white;
}
/* FIN BOTON ENVIAR FORMULARIO */

.a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  cursor: default;
}

.titulo a:hover {
  color: black;
}

.archivos-ver {
  text-align: center;
  background-color: #ffa75e;
  width: 180px;
}

.pendiente a {
  cursor: default;
}

.contenedor-botones {
  display: flex;
  justify-content: center;
  padding-right: 0;
}

.boton-descargar {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 130px;
  background-color: #a1a1a1;
  color: black;
  border-color: #a1a1a1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton-ver {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 130px;
  background-color: #a1a1a1;
  color: black;
  border-color: #a1a1a1;
}

.boton-ver:hover,
.boton-descargar:hover {
  background-color: #ff821b;
  color: black;
  border-color: #ff821b;
}

h4 {
  font-size: 20px;
  margin-bottom: 0;
}

.container {
  border-radius: 30px;
  width: 90%;
}

.documento {
  background-color: #7b7b7b2e;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.18);
}

.pendiente:disabled {
  background-color: #f4e50096;
  border-radius: 30px;
  border-color: #f4e50096;
  color: black;
  cursor: default;
  opacity: 1; /* Restaura la opacidad normal */
}

.btn-calificacion {
  background-color: #fff7ee;
  color: #f36f03;
  font-weight: bold;
  font-size: 15px;
  border-radius: 30px;

}



.tituloMostrar {
  display: flex;
  justify-content: space-evenly;
}

/* Establece un alto valor de z-index para la alerta de Sweet Alert */
.swal2-container {
  z-index: 9999;
}

.title{
  display: flex;
    justify-content: center;
    align-items: center;
}

h1 i{
  font-size: 45px;
}



@media screen and (max-width: 1200px) {
  .seccion {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #a1dc3c;
  }

  .container-md {
    max-width: 95%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .row.doc .col-md-6 {
    width: 100%;
  }
  .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    background-color: #a1dc3c00;
  }
}
