* {
  margin: 0;
  padding: 0;
}

.container-md {
  max-width: 80%;
  padding-bottom: 35px;
}

h1 {
  text-align: center;
  font-weight: bold !important;
  padding-top: 20px;
}

/* SECCIONES COMO DATOS PERSONALES, CONTACTO */
.seccion {
  border-radius: 30px;
  margin-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #ffffff;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.18);
}

/* SUBTITULOS DE SECCIONES */
h6 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 30px !important;
  color: #5c5c5c;
  font-weight: bold;
}

/* LABEL DE LOS INPUT */
label {
  padding-bottom: 5px;
  padding-top: 10px;
  cursor: pointer;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 16px;
}

/* INICIO RADIOS */
/* CLASE LABEL PARA LOS RADIO */
.label {
  margin-right: 15px;
}

.radioCentro {
  text-align: center;
}

/* ALINEACION VERTICAL DE LOS INPUT RADIO */
.radioInput,
.radio {
  display: inline-block;
}

.form-check-input[type="radio"] {
  margin-left: 15px;
}

/* CENTRADO HORIZONAL DE LOS RADIO */
.opciones {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
/* FIN RADIOS */

select {
  cursor: pointer;
}

/* VALIDACION DE RUT A REGISTRAR */
#valido p {
  padding-left: 9px;
  font-size: 15px;
  color: rgb(54, 176, 6);
}
#invalido p {
  padding-left: 9px;
  font-size: 15px;
  color: rgb(176, 6, 6);
}

p {
  margin-bottom: 0;
}
/* FIN VALIDACION DE RUT A REGISTRAR */

/* BOTON ENVIAR */
.boton {
  display: flex;
  justify-content: center;
}

.btn-buscar,
.btn-limpiar,
.btn-enviar {
  background-color: #f36f03 !important;
  border-color: #f36f03 !important;
  color: #ffffff !important;
}

.btn-buscar:hover,
.btn-limpiar:hover,
.btn-enviar:hover {
  background-color: #d66203 !important ;
  border-color: #d66203 !important;
}

.btn-buscar:active,
.btn-limpiar:active,
.btn-enviar:active {
  background-color: #b85300 !important ;
  border-color: #b85300 !important;
}

/* INICIO BOTON ENVIAR FORMULARIO*/

/* FIN BOTON ENVIAR FORMULARIO */

/* INICIO CHECK CON DISEÑO */

.radio-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-inputs > * {
  margin: 6px;
}

.radio-input:checked + .radio-tile {
  border-color: #f36f03;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #f36f03;
}

.radio-input:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #f36f03;
  border-color: #f36f03;
}

.radio-input:checked + .radio-tile .radio-icon svg {
  fill: #f36f03;
}

.radio-input:checked + .radio-tile .radio-label {
  color: #f36f03;
}

.radio-input:focus + .radio-tile {
  border-color: #f36f03;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.radio-input:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  min-height: 80px;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.radio-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.radio-tile:hover {
  border-color: #f36f03;
}

.radio-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.radio-icon svg {
  width: 2rem;
  height: 2rem;
  fill: #494949;
}

.radio-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
  font-size: 13px;
}

.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* FIN CHECK CON DISEÑO */

.document {
  padding-bottom: 11px;
}



.contenedor-botones {
    display: flex;
    justify-content: center;
    padding-right: 0;
  }
  
  .boton-descargar {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    width: 130px !important;
    background-color: #00b03b !important;
    color: black !important;
    border-color: #00b03b !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  
  .boton-ver {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    width: 130px !important;
    background-color: #00b03b !important;
    color: black !important;
    border-color: #00b03b !important;
  }
  
  .boton-ver:hover,
  .boton-descargar:hover {
    background-color: #029f36 !important ;
    color: black !important;
    border-color: #029f36 !important ;
  }

    
  .boton-ver:active,
  .boton-descargar:active {
    background-color: #008f30 !important ;
    color: black !important;
    border-color: #008f30 !important ;
  }

  .pendiente:disabled {
    background-color: #ffc107 !important;
    border-radius: 30px !important;
    border-color: #ffc107 !important;
    color: black !important;
    cursor: default !important;
    opacity: 1 !important; /* Restaura la opacidad normal */
  }
  .title {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .title h1 {
    flex-grow: 1;
    text-align: center;
  }
  
  .title button {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  
  .custom-height {
    height: 37px !important;
}

.bg-warning{
  background-color: #f36f03 !important;
}