* {
  margin: 0;
  padding: 0;
}

.container-md {
  max-width: 80%;
  padding-bottom: 35px;
}

h1 {
  text-align: center;
  font-weight: bold !important;
  padding-top: 20px;
}

/* SECCIONES COMO DATOS PERSONALES, CONTACTO */
.seccion {
  border-radius: 30px;
  margin-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #ffffff;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.18);
}

/* SUBTITULOS DE SECCIONES */
h6 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 30px !important;
  color: #5c5c5c;
  font-weight: bold;
}

/* LABEL DE LOS INPUT */
label {
  padding-bottom: 5px;
  padding-top: 10px;
  cursor: pointer;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 16px;
}

/* INICIO RADIOS */
/* CLASE LABEL PARA LOS RADIO */
.label {
  margin-right: 15px;
}

.radioCentro {
  text-align: center;
}

/* ALINEACION VERTICAL DE LOS INPUT RADIO */
.radioInput,
.radio {
  display: inline-block;
}

.form-check-input[type="radio"] {
  margin-left: 15px;
}

/* CENTRADO HORIZONAL DE LOS RADIO */
.opciones {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
/* FIN RADIOS */

select {
  cursor: pointer;
}

/* VALIDACION DE RUT A REGISTRAR */
#valido p {
  padding-left: 9px;
  font-size: 15px;
  color: rgb(54, 176, 6);
}
#invalido p {
  padding-left: 9px;
  font-size: 15px;
  color: rgb(176, 6, 6);
}

p {
  margin-bottom: 0;
}
/* FIN VALIDACION DE RUT A REGISTRAR */

/* BOTON ENVIAR */
.boton {
  display: flex;
  justify-content: center;
}


.btn-buscar{
  background-color:#463bfa !important;
  border-color: #463bfa !important;
}
.btn-buscar:hover{
  background-color:#3b33dc !important;
}
.btn-bucar:active{
  background-color:#2b25a5 !important;
}


.radio-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-inputs > * {
  margin: 6px;
}

.radio-input:checked + .radio-tile {
  border-color: #463bfa;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #463bfa;
}

.radio-input:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #463bfa;
  border-color: #463bfa;
}

.radio-input:checked + .radio-tile .radio-icon svg {
  fill: #463bfa;
}

.radio-input:checked + .radio-tile .radio-label {
  color: #463bfa;
}

.radio-input:focus + .radio-tile {
  border-color: #463bfa;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.radio-input:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  min-height: 80px;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.radio-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.radio-tile:hover {
  border-color: #463bfa;
}

.radio-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.radio-icon svg {
  width: 2rem;
  height: 2rem;
  fill: #494949;
}

.radio-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
  font-size: 13px;
}

.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* FIN CHECK CON DISEÑO */

.document {
  padding-bottom: 11px;
}

.contenedor-botones {
  display: flex;
  justify-content: center;
  padding-right: 0;
}

.boton-descargar {


  border-radius: 0 !important;
  width: 130px !important;
  background-color: #00c4a0 !important;
  color: black !important;
  border-color: #00c4a0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.boton-ver {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  width: 130px !important;
  background-color: #00c4a0 !important;
  color: black !important;
  border-color: #00c4a0 !important;
}

.boton-ver:hover,
.boton-descargar:hover {
  background-color: #02a385 !important ;
  color: black !important;
  border-color: #02a385 !important ;
}

.btn-descarga-edit {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.boton-ver:active,
.boton-descargar:active {
  background-color: #039479 !important ;
  color: black !important;
  border-color: #02a385 !important ;
}

.pendiente:disabled {
  background-color: #f3ab00 !important;
  border-color: #f3ab00 !important;
  color: black !important;
  cursor: default !important;
  opacity: 1 !important; /* Restaura la opacidad normal */
}
.boton-eliminar {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  background-color: #c40055 !important;
  border-color: #c40055 !important;
}
.boton-eliminar:hover {
  background-color: #a70048 !important;
}
.boton-eliminar:active {
  background-color: #920140 !important;
}

.title {
  position: relative;
  display: flex;
  align-items: center;
}

.title h1 {
  flex-grow: 1;
  text-align: center;
}

.title button {
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  color: #212529;
}

.title button::before {
border: #6b66bc;
}
.title button:hover {
  color: #463bfa;
  }

.custom-height {
  height: 37px !important;
}

.bg-warning {
  background-color: #463bfa !important;
}

.dataTables_paginate .pagination .page-item.active .page-link {

  background-color: #463bfa; 
  border-color: #463bfa;
  color: #FFFFFF; 
}

#total_info,
#total_paginate {
margin: 0;

margin-top: 10px;
}
 ul.pagination {
  margin:0 !important;}

  th{
    background-color: #212529 !important;
    color: white;
    font-weight: 400 !important;
  }

  .numero{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .align-middle {
    vertical-align: middle !important;
  }


  .dataTables_filter {
    float: right !important;
  }
  
  .dataTables_length,
  .dataTables_filter {
    display: inline-block !important;
    vertical-align: middle !important;
    margin-top: 10px !important;
  }
  
  .dt-buttons {
    display: inline-block !important;
    vertical-align: middle !important;
    margin-top: 10px !important;
    font-size: 15px !important;
  } 

  .card {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    height: 100% !important;
    margin-bottom: 10px !important;
  }
  
  .card-body {
    flex-grow: 1 !important;
  }

.btn-dpdf{
  background-color: #212529 !important;
  border-color: #212529 !important;
}

.btn-dexcel{
  background-color: #212529 !important;
  border-color: #212529 !important;
}

.tarjeta{
  margin-bottom: 20px !important;
}

.boton-registrar{
  display: flex;
  justify-content: center;
}

button.boton-registrarB {
  font-family: inherit !important;
  font-size: 20px !important;
  background: #212529 !important;
  color: white !important;
  padding: 0.7em 1em !important;
  padding-left: 0.9em !important;
  display: flex !important;
  align-items: center !important;
  border: none !important;
  border-radius: 16px !important;
  overflow: hidden !important;
  transition: all 0.2s !important;
}

button.boton-registrarB span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button.boton-registrarB svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button.boton-registrarB:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button.boton-registrarB:hover svg {
  transform: translateX(2em) rotate(45deg) scale(1.1);
}

button.boton-registrarB:hover span {
  transform: translateX(5em);
}

button.boton-registrarB:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}


.button {
  width: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #212529;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition-duration: .2s;
}

.bell {
  width: 20px;
}

.bell path {
  fill: rgb(255, 255, 255);
}

.button:hover {
background-color: #2b2670 !important ;
  border-color: #2b2670 !important;
}


.button:active {
  transform: scale(0.97);
  transition-duration: .2s; 
  background-color: #322c83 !important ;
  border-color: #322c83 !important;
}

.button:hover .bell {
  animation: bellRing 0.9s both;
}

@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }
  15% {
    transform: rotateZ(10deg);
  }
  30% {
    transform: rotateZ(-10deg);
  }
  45% {
    transform: rotateZ(5deg);
  }
  60% {
    transform: rotateZ(-5deg);
  }
  75% {
    transform: rotateZ(2deg);
  }
}


.Btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 150px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: #212529 !important;
  border-color: #212529 !important;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: .3s;
}

.svg {
  width: 25px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: .3s;
}

.Btn:hover {
  color: transparent;
  background-color: #2b2670 !important ;
  border-color: #2b2670 !important;
}

.Btn:hover svg {
  right: 41%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
}

.Btn:active {
  background-color: #322c83 !important ;
  border-color: #322c83 !important;
}

.btn-enviar {
  background-color: #212529 !important;
  border-color: #212529 !important;
  color: #ffffff !important;
}

.btn-enviar:hover {
  background-color: #2b2670 !important ;
  border-color: #2b2670 !important;
}

.btn-enviar:active {
  background-color: #322c83 !important ;
  border-color: #322c83 !important;
}
